%% Main rebar config

%% Set applications here, order matters
{sub_dirs, ["apps/util",
            "apps/db",
            "apps/consensus",
            "apps/server",
            "rel"]}.

%% Set dir where external (downloaded) applications are put
{deps_dir, ["deps"]}.

%% External dependencies
{deps, [
        {lager, ".*",
        {git, "git://github.com/basho/lager", {branch, "master"}}},
        {eredis, ".*",
        {git, "git://github.com/wooga/eredis", {branch, "master"}}}
]}.
