%% Rebar config 

%% Set dir where external (downloaded) applications are put
{deps_dir, ["deps"]}.

%% Enable EUnit coverage reporting
{cover_enabled, true}.

%% Erlang VM options
{erl_opts, [warnings_as_errors]}.

%% Set all our applications here, order matters
{sub_dirs, ["rel"]}.

%% External dependencies
{deps, [
        {lager, ".*",
        {git, "git://github.com/basho/lager", {branch, "master"}}}
]}.
