%% Rebar config 

%% Set dir where external (downloaded) applications are put
{deps_dir, ["deps"]}.

%% Enable EUnit coverage reporting
{cover_enabled, true}.

%% Erlang VM options
{erl_opts, [warnings_as_errors]}.
{erl_opts, [{parse_transform, lager_transform}]}.
{edoc_opts, [{preprocess, true}]}.
{erl_opts, [debug_info, warnings_as_errors]}.

%% Set all our applications here, order matters
{sub_dirs, ["apps/util",
            "apps/db",
            "apps/consensus",
            "apps/server",
            "rel"]}.

%% External dependencies
{deps, [
        {lager, ".*",
        {git, "git://github.com/basho/lager", {branch, "master"}}}
]}.
