{mode, max}.
%{mode, {rate, 10}}.

{duration, 1}.

{concurrent, 100}.

{driver, tcp_warlock_ets}.

% Check codepath to point to eredis directory
{code_paths, ["/home/suku/run/warlock/deps/eredis"]}.

{key_generator, {uniform_int, 100000}}.

{value_generator, {fixed_bin, 10}}.

{cookie, warlock}.

%{operations, [{get, 1}]}.
{operations, [{put, 1}]}.
%{operations, [{del, 1}]}.

