{mode, max}.
%{mode, {rate, 10}}.

{duration, 1}.

{concurrent, 100}.

{driver, warlock_ets}.

{key_generator, {uniform_int, 100000}}.

{value_generator, {fixed_bin, 10}}.


%{nodes, ['warlock1@127.0.0.1', 'warlock2@127.0.0.1', 'warlock3@127.0.0.1']}.
%{nodes, ['warlock1@127.0.0.1']}.
{nodes, ['warlock1@127.0.0.1']}.


{cookie, warlock}.

{mynode, ['bench@127.0.0.1', longnames]}.

%{operations, [{get, 8}, {puta, 3}, {del, 1}]}.
%{operations, [{puta, 1}, {putb, 1}, {putc, 1}]}.
%{operations, [{get, 1}]}.
%{operations, [{ping, 1}]}.
{operations, [{puta, 1}]}.
%{operations, [{test, 1}]}.

{measurement_driver,
    basho_bench_measurement_erlangvm}.

{measurements, [
  {memory, 1000},
  {cpu, 1000},
  {processes, 1000},
  {filehandles, 1000}
]}.

