%% Rebar config

%% Additional library directories to add to the code path
{lib_dirs, ["..", "../../deps"]}.

%% Dir where external (downloaded) applications are put
{deps_dir, ["../../deps"]}.

%% Enable EUnit coverage reporting
{cover_enabled, true}.

%% Erlang VM options
{erl_opts, [warnings_as_errors,
            {parse_transform, lager_transform},
            debug_info,
            {preprocess, true},
            {todo, true}]}.

%% External dependencies
{deps, [
        lager,
        war_util
]}.
