{sys, [
       {lib_dirs, ["../apps", "../deps"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "warlock", "1",
        [
         kernel,
         stdlib,
         sasl,
         tools,
         runtime_tools,
         os_mon,
         % compiler, syntax tools needed for lager
         compiler,
         syntax_tools,
         % dependencies
         lager,
         eredis,
         judy,
         % apps part of the project
         war_util,
         war_db,
         war_consensus,
         war_server
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "warlock"},
       {profile, embedded},
       {incl_cond, exclude},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, sasl,   [{incl_cond, include}]},
       {app, stdlib, [{incl_cond, include}]},
       {app, kernel, [{incl_cond, include}]},
       {app, tools, [{incl_cond, include}]},
       {app, runtime_tools, [{incl_cond, include}]},
       {app, os_mon, [{incl_cond, include}]},

       {app, compiler, [{incl_cond, include}]},
       {app, syntax_tools, [{incl_cond, include}]},
       {app, lager, [{incl_cond, include}]},
       {app, eredis, [{incl_cond, include}]},
        {app, judy, [{incl_cond, include}]},

       {app, war_util, [{incl_cond, include}]},
       {app, war_db, [{incl_cond, include}]},
       {app, war_consensus, [{incl_cond, include}]},
       {app, war_server, [{incl_cond, include}]}
      ]}.

{target_dir, "warlock"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},

           {template, "files/warlock", "bin/warlock"},
           {template, "files/warlock-admin", "bin/warlock-admin"},
           {template, "files/warlock.cmd", "bin/warlock.cmd"},

           {copy, "files/console", "bin/console"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},

           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/sys.config", "etc/sys.config"},

           {template, "files/vm.args", "etc/vm.args"},
           % Custom
           {copy, "../priv", "."}
          ]}.
