[{lager, [
     {handlers, [
             {lager_console_backend, error},
             {lager_file_backend, [
                                {"error.log", error, 10485760, "$D0", 5},
                                {"console.log", error, 10485760, "$D0", 5}
                                   ]}
                ]}
        ]}].